[access]
	inheritFrom = Public-Projects
[project]
	description = Re-usable building blocks for Bazel build tool
[access "refs/heads/*"]
	label-Verified = -1..+1 group Change Owner
	label-Verified = -1..+1 group gerrit-verifiers
	create = group google/gerritcodereview-maintainers@googlegroups.com
	push = +force group Project Owners
	submit = group Change Owner
